@media screen and (min-width: 450px) {
  .phone{
    display:none;
  }
  .desktop{
    width:100%;
  }
}
@media screen and (max-width: 450px) {
  .phone{
    width: 100%
  }
  .desktop{
    display:none;
  }
  .webcam {
    width: 100vw;
    height: auto;
    overflow: hidden;
  }
  .btn {
    width: 50vw;
  }
  .jumbotron.panel {
    font-size: 24px;
    width: 100vw;
    margin: auto;
    margin-top: 6px
  }
}
 
