.btn-flex{
   position: absolute;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;

}

.whiteBtn {
   position: absolute;
   bottom: 0;
   margin-bottom: 40px !important;
   background-color: white;
   color: #0A2463;
   border-radius: 35px;
   width: 200px !important;
}