.modal-content{
    margin-top: 220px;
    width: 80vw !important;
    background-color: #0A2463;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .modal{
    display: block !important;
  }
  
  .modal-title{
    background-color: #0A2463;
  }
  
  .modal-body{
    padding-top: 0px !important;
    padding-bottom: 10px;
  }
  
  .modalBtn{
    background-color: white;
     color: #0A2463;
     border-radius: 35px;
  }