/* .settingsBtn{
    margin-right: 13px;
    margin-top: 13px;
    position: fixed;
    top: 0;
    right: 0;
    height: 25px !important;
    width: 25px !important;
    border: none !important;
    background-color: none !important;
} */

.logoutGear{
    margin-right: 13px;
    margin-top: 13px;
    position: fixed;
    top: 0;
    right: 0;
    height: 25px !important;
    width: 25px !important;
    border: none !important;
    background-color: none !important;
}