.img-container{
    content: "";
    height: 100%;
    left: 0;
    right: 0;
    padding-bottom: 25px;
    z-index: 1;
    background: url("../img/mojito.jpg") 50%;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.beer-container{
    content: "";
    height: 100%;
    left: 0;
    right: 0;
    padding-bottom: 25px;
    z-index: 1;
    background: url("../img/drinking.jpg") 50%;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-height: 450px) {
    .beer-container{
        background-image: url("../img/drinking.jpg");
        background-attachment: fixed;
        width: 100vw;
        height: auto !important;
        padding-top: 90px;
        padding-bottom: 90px;
        /* margin-top: 15px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-shadow: inset -5px 26px 73px -43px rgba(0, 0, 0, 0.548);
        -moz-box-shadow: inset -5px 26px 73px -43px rgba(0, 0, 0, 0.685);
        box-shadow: inset -5px 26px 73px -43px rgba(0, 0, 0, 0.582);
        -webkit-box-shadow: inset -5px -21px 73px -43px rgba(0, 0, 0, 0.486);
        -moz-box-shadow: inset -5px -21px 73px -43px rgba(0, 0, 0, 0.507);
        box-shadow: inset -5px -21px 73px -43px rgba(0, 0, 0, 0.5);
        }
}


@media screen and (min-height: 450px) {
    .img-container{
        background-image: url("../img/mojito.jpg");
        background-attachment: fixed;
        width: 100vw;
        height: auto !important;
        padding-top: 90px;
        padding-bottom: 90px;
        /* margin-top: 15px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-shadow: inset -5px 26px 73px -43px rgba(0, 0, 0, 0.548);
        -moz-box-shadow: inset -5px 26px 73px -43px rgba(0, 0, 0, 0.685);
        box-shadow: inset -5px 26px 73px -43px rgba(0, 0, 0, 0.582);
        -webkit-box-shadow: inset -5px -21px 73px -43px rgba(0, 0, 0, 0.486);
        -moz-box-shadow: inset -5px -21px 73px -43px rgba(0, 0, 0, 0.507);
        box-shadow: inset -5px -21px 73px -43px rgba(0, 0, 0, 0.5);
        }
}

.newBody:after{
    content: "";
    position: fixed;
    top: 0;
    height: 200%;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("../img/wood.jpg") 50%;
    background-size: cover;
  }

.bar-container{
    content:"";
    height:100%; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:1; /* needed to keep in the background */
    background: url("../img/drinking.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


