.newBody:after{
    content:"";
    position:fixed;
    top:0;
    height:100vh;
    left:0;
    right:0;
    z-index:-1;
    background: url("../img/wood.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: 900px) {
    .white-container{
      padding-left: 70px;
      padding-right: 70px;
    }
  }

.footer-container{
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    width: 100vw;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px !important;
}
/* flexbox css */
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barhop{
  width: auto;
  margin-left: 15px;
}

img{
    height: 45px;
}

.fontStyle{
    font-family: 'Rubik', sans-serif;
}

.mainHeader{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.932);
    font-size:63px !important;
    font-weight: bold;
    
}

.secondHeader{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.932);
    font-size:38px !important;
    color: #1BF2BA;
    font-weight: bold;
    
}

.subtitle{
    text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.733);
    font-size:25px;
    font-weight: bold;
}

.pageText{
    font-size: 26px !important;
    color: white;
    text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.404);
    font-weight: bold;
}

.nav-link{
    color: black;
}

.friendsImg{
    width: auto;
    height: 380px;
    border-radius: 35px;
}

.iphoneImg{
    width: auto !important;
    height: 40vw !important;
    border-radius: 35px;
}


.breweryImg{
    max-width: auto;
    height: 280px;
    border-radius: 35px;
}

.mugImg{
    max-width: auto;
    height: 330px;
    border-radius: 35px;
}

@media (min-width: 1200px){
    .container {
        max-width: 1400px;
    }
}


.row{
    width: 100%;
}
/* .navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999;
    height: 100px
} */
.navbar-nav .nav-link{
    padding-right: 20px !important;
    color: #0A2463 !important;
    font-weight: bold;
}
.navbar-collapse{
    margin-right: 20px;
}

.navbar-toggler{
    margin-right: 10px;

}
