.global{
  width:100%;
  z-index: -9999
}
    
.navPackage{
  display: flex;
  justify-content: center;
}

.greenBanner{
  top:0;
  position:absolute;
  width: 100vw;
  height: auto;
  z-index: 1
}

.p-3{
  position: absolute;
  z-index: 2;
  color: #0A2463;
  padding-top: 25px;
}   

/* .modal-dialogue{
  display: flex;
  justify-content: center;
} */
.modal-content{
  margin-top: 220px;
  width: 80vw !important;
  background-color: #0A2463;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal{
  display: block !important;
}

.modal-title{
  background-color: #0A2463;
}

.modal-body{
  padding-top: 0px !important;
  padding-bottom: 10px;
}

.modalBtn{
  background-color: white;
   color: #0A2463;
   border-radius: 35px;
}

