body {
  background-image: url("green-bg.png");
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.barhop{
  position: absolute;
  bottom: 0;
  padding-bottom: 80px;
  width: 100px;
  height: auto;
}