.greenBg{
    width: 100vw;
    height: 100vh;
    max-width: 100% !important;
    min-width: 100% !important; 
    max-height: 100vh !important;
    min-height: 100vh !important;
    /* width: 100% !important; */
    overflow: hidden !important;
    overflow-y: auto !important;
}

.barhop{
  position: absolute;
  bottom: 0;
  padding-bottom: 80px;
  width: 100px;
  height: auto;
}